*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #f6cb40 0%, #f67450 100%);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}